<div class="container">
    <div class="row">
        <form appearance="outline" [formGroup]= "operatorForm" (ngSubmit)="updateOperator()">
            <mat-form-field>
                    <mat-label>CEDULA</mat-label>
                    <input matInput type= "number" formControlName= "CC" placeholder="ingrese su cedula">
            </mat-form-field>
                <p>
                <mat-form-field>
                    <mat-label>NOMBRE</mat-label>
                    <input matInput type="text" formControlName="FirstName" placeholder="ingrese su nombre">
                </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                    <mat-label>APELLIDOS</mat-label>
                    <input matInput type="text" formControlName= "LastName" placeholder="ingrese su apellido">
                </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                    <mat-label>EMAIL</mat-label>
                    <input matInput type="email" formControlName= "Email" placeholder="ingrese su email">
                </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                    <mat-label>Nickname</mat-label>
                    <input matInput type="text" formControlName= "UserName" placeholder="ingrese su nombre de usuario">
                </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                    <mat-label>Area</mat-label>
                    <input matInput type="text" formControlName= "Id_Area" placeholder="ingrese su area">
                </mat-form-field>
                </p>
            <div class="card-action">
                <div>
                    <button mat-flat-button type="submit" color="primary">Guardar</button>
                    <button mat-flat-button color="primary" class="btn-primary btn" (click)="resetForm()">Limpiar</button>
                </div>
            </div>
        </form>
        <button mat-flat-button (click)="onNoClick()" color="primary">cerrar registro</button>
    </div>
</div>
