<div class="container">
    <div class="row">
        <form #operatorForm="ngForm" (ngSubmit)="addOperator(operatorForm)">
            <div>
                <div>
                    <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="operatorService.SelectedOperator.Id" placeholder="ingrese su cedula">
                </div>
                <div>
                    <input type="number" name="CC" #CC="ngModel" [(ngModel)]="operatorService.SelectedOperator.CC" placeholder="ingrese su cedula">
                </div>
                <div>
                    <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="operatorService.SelectedOperator.FirstName" placeholder="ingrese su nombre">
                </div>
                <div>
                    <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="operatorService.SelectedOperator.LastName" placeholder="ingrese su apellido">
                </div>
                <div>
                    <input type="email" name="Email" #Email="ngModel" [(ngModel)]="operatorService.SelectedOperator.Email" placeholder="ingrese su email">
                </div>
                <div>
                    <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="operatorService.SelectedOperator.UserName" placeholder="ingrese su nombre de usuario">
                </div>
                <div>
                    <input type="text" name="Id_Area" #Id_Area="ngModel" [(ngModel)]="operatorService.SelectedOperator.Id_Area" placeholder="ingrese su area">
                </div>
            </div>
            <div class="card-action">
                <div class="input-field-append">
                    <button mat-flat-button color="primary" class="btn-primary btn">Guardar</button>
                    <button mat-flat-button color="primary" class="btn-primary btn" (click)="resetForm(operatorForm)">Limpiar</button>
                    <button mat-flat-button color="primary">cerrar registro</button>
                </div>
        </div>
        </form>
    </div>
</div>
