
<div><button mat-flat-button color="primary" (click)="openDialog()">CREAR BITACORA</button></div>
    <table mat-table [dataSource]="binnacleService.Binnacle">
        <ng-container matColumnDef='operador'>
            <th mat-header-cell *matHeaderCellDef>operador</th>
            <td mat-cell *matCellDef="let binnacle">{{ binnacle.FirstName[0] }} {{ binnacle.LastName[0] }}</td>
        </ng-container>
        <ng-container matColumnDef='Schedule'>
            <th mat-header-cell *matHeaderCellDef>Turno</th>
            <td mat-cell *matCellDef="let binnacle">{{ binnacle.Schedule }}</td>
        </ng-container>
        <ng-container matColumnDef='News'>
            <th mat-header-cell *matHeaderCellDef>Noticias</th>
            <td mat-cell *matCellDef="let binnacle">{{ binnacle.News }}</td>
        </ng-container>
        <ng-container matColumnDef='SpecialProcess'>
            <th mat-header-cell *matHeaderCellDef>Procesos especiales</th>
            <td mat-cell *matCellDef="let binnacle">{{ binnacle.SpecialProcess }}</td>
        </ng-container>
        <ng-container matColumnDef='PendingProcess'>
            <th mat-header-cell *matHeaderCellDef>Procesos pendientes</th>
            <td mat-cell *matCellDef="let binnacle">{{ binnacle.PendingProcess }}</td>
        </ng-container>
        <ng-container matColumnDef='bottom_edit'>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let binnacle">
                <a (click)="editBinnacle(binnacle.Id)" style="cursor:pointer">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef='bottom_delete'>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let binnacle">
                <a (click)="deleteBinnacle(binnacle.Id)" style="cursor:pointer">
                    <i class="material-icons uk-icon-hand-pointer-o">delete</i>
                </a>
            </td>
        </ng-container>
        <tbody>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
    </table>