<div>
        <button mat-raised-button color="primary" class="button-editBinnacle" (click)="openDialog()">registrar operador</button>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="operatorService.Operator">
    <ng-container matColumnDef="CC">
        <th mat-header-cell *matHeaderCellDef>CC</th>
        <td mat-cell *matCellDef="let operator">{{ operator.CC }}</td>
    </ng-container>
    <ng-container matColumnDef="FirtsName">
        <th mat-header-cell *matHeaderCellDef>FirtsName</th>
        <td mat-cell *matCellDef="let operator">{{ operator.FirstName }}</td>
    </ng-container>
    <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let operator">{{ operator.LastName }}</td>
    </ng-container>
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let operator">{{ operator.Email }}</td>
    </ng-container>
    <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let operator">{{ operator.UserName }}</td>
    </ng-container>
    <ng-container matColumnDef='bottom_edit'>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let operator">
            <button mat-mini-fab color="primary" (click)="editOperator(operator)" aria-label="icon button with a edit icon">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef='bottom_delete'>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let operator">
            <button mat-mini-fab color="primary" (click)="deleteOperator(operator.Id)" aria-label="icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tbody>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>
</table>
</div>