<div class="container">
    <div class="row">
        <form appearance="outline" [formGroup]="binnacleForm" (ngSubmit)="addBinnacle()">
            <mat-form-field>
                <mat-label>OPERADOR QUE ENTREGA</mat-label>
                <mat-select formControlName = "Id_LastOperator" (selectionChange)="onSelect($event.value)">
                  <mat-option *ngFor="let LastO of operatorService.Operator" [value]="LastO.Id" >
                    {{LastO.FirstName}} {{LastO.LastName}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>OPERADOR QUE RECIBE</mat-label>
                <mat-select formControlName= "Id_NewOperator">
                  <mat-option *ngFor="let NewO of operatorService.Operator" [value]="NewO.Id" [disabled]="NewO.Id == disableSelect">
                    {{NewO.FirstName}} {{NewO.LastName}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Noticias</mat-label>
                <textarea matInput formControlName="News" placeholder="NOTICIAS"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Procesos Especiales</mat-label>
                <textarea matInput type="email" formControlName="SpecialProcess" placeholder="QUE REQUERIMIENTO MERECE LA ATENCION">
                </textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Procesos Pendientes</mat-label>
                <textarea matInput type="text" formControlName="PendingProcess" placeholder="¿ALGO PENDIENTE?"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Turno</mat-label>
                <mat-select formControlName= "Id_Schedule">
                  <mat-option *ngFor="let Schedule of scheduleService.Schedule" [value]="Schedule.Id">
                    {{Schedule.Schedule}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="card-action">
                <div class="input-field-append">
                    <button mat-flat-button type="submit" color="primary">Guardar</button>
                </div>
        </div>
        </form>
        <button mat-flat-button (click)="onNoClick()" color="primary">cerrar registro</button>
    </div>
</div>
